<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ko.dh.goot.payment.dao.PaymentMapper">
<resultMap id="paymentResultMap" type="PaymentRecord">
    <id     property="paymentId"         column="payment_id"/>
    <result property="orderId"           column="order_id"/>
    <result property="paymentProvider"   column="payment_provider"/>
    <result property="paymentMethodType" column="payment_method_type"/>
    <result property="paymentStatus"     column="payment_status"/>
    <result property="pgTxId"             column="pg_tx_id"/>
    <result property="paidAt"             column="paid_at"/>
    <result property="amount"             column="amount"/>
    <result property="cancelAmount"       column="cancel_amount"/>

    <result property="createdAt"          column="created_at"/>
    <result property="updatedAt"          column="updated_at"/>
</resultMap>

	<select id="existsByPaymentId" resultType="int">
        SELECT COUNT(1)
        FROM payment
        WHERE payment_id = #{paymentId}
    </select>
    
	<insert id="insertPayment" parameterType="ko.dh.goot.payment.dto.PortOnePaymentResponse">
	    INSERT INTO payment (
	        payment_id,
	        order_id,
	        payment_provider,
	        payment_method_type,
	        payment_status,
	        pg_tx_id,
	        paid_at,
	        amount,
	        cancel_amount
	    ) VALUES (
            #{id},
            #{orderId},
            #{method.provider},
            #{method.type},
            #{status},
            #{pgTxId},
            #{paidAt},
            #{amount.total},
            #{amount.cancelled}
        )
</insert>

    <select id="selectByOrderId" parameterType="long" resultType="PaymentRecord">
        SELECT * FROM payment WHERE order_id = #{orderId}
    </select>

    <update id="updatePaymentStatus" parameterType="PaymentRecord">
        UPDATE payment
        SET payment_status = #{paymentStatus},
            approved_at = #{approvedAt},
            updated_at = NOW()
        WHERE order_id = #{orderId}
    </update>
	
	
</mapper>